<div class="row">
    <div class="col-sm">
      <auth-form
      (submitted)="createUser($event)">
      <h3>Create account</h3>
      <button type="submit" class="btn btn-info">
        Join us
      </button>
    </auth-form>
    </div>
    <div class="col-sm">
      <auth-form
        (submitted)="loginUser($event)">
        <h3>Login</h3>
        <auth-remember (checked)="rememberUser($event)"></auth-remember>
        <button type="submit" class="btn btn-info">
          Login
        </button>
      </auth-form>
    </div>
  </div>
